%header.navbar.navbar-fixed-top.navbar-gitlab
  .navbar-inner
    .container
      %div.app_logo
        = link_to root_path, class: 'home has_bottom_tooltip', title: 'Dashboard' do
          %div
      - if !@recent_projects.nil?
        %div.dropdown.dashboard-menu
          %h1.dropdown-toggle.title{'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'tabIndex' => '0' }
            = title
            %span.caret
          %ul.dropdown-menu{role: 'menu',
              'aria-label' => 'Dashboard Menu',
              'data-recent-updated' => projects_to_simple_json(@recent_projects)}
            %li{role: 'menuitem', class: current_route?('dashboard#show') ? 'current' : ''}
              = link_to root_path do
                Dashboard
            %li{role: 'menuitem', class: current_route?('dashboard#projects') ? 'current' : ''}
              = link_to dashboard_path do
                View My Projects
            %li{role: 'menuitem', class: current_route?('projects#index') ? 'current' : ''}
              = link_to explore_projects_path do
                View All Projects
      - else
        %div.dashboard-menu
          %h1.title
            = title

      %ul.nav.navbar-nav
        %li.hidden-sm.hidden-xs
          = render 'layouts/search'
        %li.visible-sm.visible-xs
          = link_to search_path, title: 'Search', class: 'has_bottom_tooltip', 'data-original-title' => 'Search area' do
            %i.fa.fa-search
        %li.hidden-xs
          = link_to help_path, title: 'Help', class: 'has_bottom_tooltip',
             'data-original-title' => 'Help'  do
            %i.fa.fa-question-circle
        - if current_user.is_admin?
          %li.hidden-xs
            = link_to admin_root_path, title: 'Admin Area', class: 'has_bottom_tooltip', 'data-original-title' => 'Admin Area' do
              %i.fa.fa-cogs
        %li.dropdown.navbar-right
          %a.dropdown-toggle.profile-pic{href: '#', 'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', title: 'User Menu', class: 'has_bottom_tooltip', 'data-original-title' => 'User Menu', 'aria-label' => 'User Menu'}
            = image_tag avatar_icon(current_user.email, 26)
            %span.caret>
          %ul.dropdown-menu{role: 'menu', 'aria-label' => 'User Menu'}
            %li{role: 'menuitem'}
              = link_to current_user, class: 'profile-link' do
                Profile
            %li{role: 'menuitem'}
              = link_to user_snippets_path(current_user) do
                My Snippets
            %li{role: 'menuitem'}
              = link_to profile_path do
                My Settings
            %li{role: 'menuitem'}
              = link_to destroy_user_session_path, class: 'logout', method: :delete do
                Log out
