- git_fusion_repo = @project.git_fusion_repo
- parsed          = git_fusion_repo.sub(%r{^mirror://}, '').split('/', 2)
- git_fusion_url  = git_fusion_url(@project)
- can_reenable    = mirroring_permitted?(@project, current_user) && mirroring_configured? && git_fusion_url && !git_fusion_url.empty?
- button_class    = 'btn btn-save' + (can_reenable ? '' : ' disabled')
%p
  Mirroring for this project has been disabled.
%p
  This project was previously mirroring the
  = "'#{parsed[0]}'"
  Helix Git Fusion server on the repo
  = "'#{parsed[1]}'"
%p
  - if can_reenable
    The Git Fusion repo can be reached via the following Git URL:
    = git_fusion_url
  - else
    This project was previously mirrored on the
    = "'#{parsed[0]}'"
    Helix Git Fusion server, but
    = "'#{parsed[0]}'"
    is either missing, or is not properly configured in GitSwarm.
    %p
      Mirroring cannot be re-enabled until it is re-added.
%span.mirror-button-wrapper
  = link_to reenable_helix_mirroring_namespace_project_path(@project.namespace, @project), { method: 'post', class: button_class, data: { confirm: 'Are you sure you want to re-enable Helix Mirroring?' } } do
    = icon 'helix-icon-white'
    Re-enable Helix Mirroring
