- git_fusion_error = git_fusion_preflight_errors(@project, current_user)
- git_fusion_url   = git_fusion_url(@project)
- can_reenable     = mirroring_permitted?(@project, current_user) && mirroring_configured? && git_fusion_url && !git_fusion_url.empty? && !git_fusion_error
- button_class     = 'btn btn-save' + (can_reenable ? '' : ' disabled')

%p
  Mirroring for this project has been disabled.
%p
  This project was previously mirroring the
  = "'#{@project.git_fusion_server_id}'"
  Helix Git Fusion server on the repo
  = "'#{@project.git_fusion_repo_name}'"
%p
  - if can_reenable
    The Git Fusion repo can be reached via the following Git URL:
    = git_fusion_url
  - else
    = git_fusion_error if git_fusion_error
    = helix_reenable_mirroring_tooltip(@project)
    %br
      = link_to '#' do
        %strong= 'Please fix the configuration'
      to re-enable mirroring for this project.
= render partial: 'perforce_swarm/git_fusion/projects/mirroring_config_errors'
%span.mirror-button-wrapper{data: {toggle: 'tooltip', html: 'true', title: helix_reenable_mirroring_tooltip(@project)}}
  = link_to reenable_helix_mirroring_namespace_project_path(@project.namespace, @project), { method: 'post', class: button_class, data: { confirm: 'Are you sure you want to re-enable Helix Mirroring?' } } do
    = icon 'helix-icon-white'
    Re-enable Helix Mirroring
