- page_title   'Helix Mirroring'
- header_title 'Helix Mirroring'

- error = git_fusion_server_error || mirroring_errors(@project, current_user)
- if current_user && can?(current_user, :download_code, @project)
  = render 'shared/no_ssh'
  = render 'shared/no_password'
.git-fusion-mirroring
  %h2
    Helix Mirroring
  .description.slead
  - if error && !error.empty?
    %h4 Configuration Error:
    %p
      = error
      %br
      For help on configuring your Helix Git Fusion instances, have an admin
      = link_to 'see these directions.', help_page_path('workflow', 'importing', 'import_from_gitfusion'), target: '_blank'
  - else
    - can_mirror   = mirroring_permitted?(@project, current_user) && mirroring_configured?
    - button_class = 'btn btn-save' + (can_mirror ? '' : ' disabled')
    - if @project.git_fusion_mirrored?
      -# currently mirrored, so show relevant mirroring settings and the disable button
      %p
        This project is currently mirrored in Helix Git Fusion as:
        = @project.git_fusion_repo
      %p
        It can be reached via the following Git URL:
        = git_fusion_url(@project)
      - if git_fusion_last_fetched(@project)
        %p
          This project was last updated from Helix Git Fusion
          %time.time_ago.js-timeago{ datetime: git_fusion_last_fetched(@project), data: {placement: 'top', toggle: 'tooltip'} }
            = git_fusion_last_fetched(@project)
        - if git_fusion_last_fetch_error(@project)
          %p
            During the last fetch, the following error occurred:
            %pre
              = git_fusion_last_fetch_error(@project)
      - else
        %p
          It appears that this project has yet to be updated from Helix Git Fusion.
      %span.mirror-button-wrapper
        = link_to disable_helix_mirroring_namespace_project_path(@project.namespace, @project), { method: 'post', class: button_class, data: { confirm: 'Are you sure you want to disable Helix Mirroring?' } } do
          = icon 'helix-icon-white'
          Disable Helix Mirroring
    - else
      -# project isn't currently mirrored, so show the configure mirroring form
      = render partial: 'perforce_swarm/git_fusion/projects/configure_helix_mirroring'
:javascript
  $('.js-timeago').timeago()
