- status = 'critical' # version_check.status
- latest = version_check.latest.to_s.gsub('.pre.', '-')
%div{:class => ['version-check-status', 'alert', 'hidden-xs', "#{status}"]}
  - if status == VersionCheck::VERSION_CURRENT
    You are running the latest version of GitSwarm (#{PerforceSwarm::VERSION}).
  - else
    This Installation of GitSwarm is out of date. You are running #{PerforceSwarm::VERSION}, and the latest is #{latest}.
  .pull-right.version-check-details
    - if current_application_settings.version_check_enabled.nil?
      Allow GitSwarm to keep checking for updates?
      = version_check_enabled_link(true)
      |
      = version_check_enabled_link(false)
    - else
      - unless version_check.more_info.nil? || version_check.more_info.empty?
        = link_to 'more info', version_check.more_info, target: '_blank'
        |
      = link_to "Don't show again for this version", admin_application_settings_path(application_setting: {last_version_ignored: latest}), remote: true, method: :put, class: 'alert-link'
    = link_to 'X', '#', class: 'dismiss-version-check'
