- status = VersionCheck::outdated? ? 'needs-update' : 'current'
- status = VersionCheck::critical? ? 'critical'     : status
%div{:class => ['version-check-status', 'alert', 'hidden-xs', "#{status}"]}
  - if !VersionCheck::outdated?
    You are running the latest version of GitSwarm (#{PerforceSwarm::VERSION}).
  - else
    This Installation of GitSwarm is out of date.
    - if VersionCheck::critical?
      A critical
    - else
      An
    - if VersionCheck::more_info && current_application_settings.version_check_enabled.nil?
      = link_to "update is available.", VersionCheck::more_info, class: 'alert-link', target: '_blank'
    - else
      update is available.
  .pull-right.version-check-details
    - if current_application_settings.version_check_enabled.nil?
      Allow GitSwarm to keep checking for updates?
      = link_to 'Yes', admin_application_settings_path(application_setting: {version_check_enabled: true}), method: :put, class: 'alert-link'
      |
      = link_to 'No', admin_application_settings_path(application_setting: {version_check_enabled: false}), method: :put, class: 'alert-link'
    - else
      - if VersionCheck::more_info
        = link_to 'more info', VersionCheck::more_info, target: '_blank'
        |
      = link_to "Don't show again for this version", admin_application_settings_path(application_setting: {last_version_ignored: VersionCheck::latest}), method: :put, class: 'alert-link'
    = link_to 'X', '#', class: 'dismiss-version-check'
