- if @errors.empty?
  .mirroring-depot-path
    Your project's branches will be mirrored to:
    %span.depot-path
      = @path_template
    .form-actions.mirroring-enable
      = button_to enable_helix_mirroring_namespace_project_path(@project.namespace, @project), params: {fusion_server: @fusion_server}, method: 'post', class: 'btn btn-create' do
        = icon 'helix-icon white'
        Launch Mirroring
- else
  .mirroring-errors
    %h4 Configuration Error:
    = @errors.first
    Please see
    = link_to ' this document ', help_page_path('workflow', 'importing', 'import_from_gitfusion') + '#known-issues'
    for help.
