.git-fusion-import-data
  - if !@errors.empty?
    .repo-warning.slead
      %h4 There was an error communicating with Git Fusion:
      = @errors.first
  - else
    - repos_options = git_fusion_repos(@repos)
    .radio
      = label_tag do
        = radio_button_tag(:git_fusion_auto_create, 'nil', true)
        .option-title
          Not Enabled for this project
    - if @project_depot && @auto_create_errors.empty?
      .radio
        = label_tag do
          = radio_button_tag(:git_fusion_auto_create, true)
          .option-title
            Create a new convention-based repo in Git Fusion
          .option-descr
            Create a Git Fusion repo that will be mirrored in Perforce under
            %span.auto-create-path #{@path_template}
    .radio
      = label_tag do
        = radio_button_tag(:git_fusion_auto_create, false, false, disabled: @repos.empty?)
        .option-title
          Mirror an existing Git Fusion repository
        .option-descr
          - if @repos.empty?
            .repo-warning.slead
              Although Git Fusion is configured, there are no repos available for import.
          - else
            .repo-select.form-inline.control-group
              Repo:
              = select_tag(:git_fusion_repo_name, repos_options, class: 'select2 span2', disabled: 'true')
  - if !@auto_create_errors.empty?
    .repo-warning.slead
      %h4 Convention-based repo creation is unavailable:
      = @auto_create_errors.first
      Please see
      = link_to ' this document ', '#'
      for help.
  - elsif !@project_depot
    .repo-warning.slead
      %h4 Configured project depot #{@project_depot.inspect} is missing.
      Please see
      = link_to ' this document ', '#'
      for help.
