- if git_fusion_server_error
  .description.slead
    %h4 Configuration Error:
    %p
      = git_fusion_server_error
    %p
      For help on configuring your Helix Git Fusion instances, have an admin
      = link_to 'see these directions.', help_page_path('workflow', 'helix_mirroring', 'configuration'), target: '_blank'
- else
  - servers = git_fusion_servers
  - if servers.empty?
    .description
      This Helix GitSwarm instance is not pointing to any Helix Git Fusion servers. To import a repo from an existing Helix Git Fusion
      instance, have an admin
      = link_to 'see these directions.', help_page_path('workflow', 'helix_mirroring', 'configuration'), target: '_blank'
  - else
    .description
      Two-way mirroring! Project changes made here will be reflected in the Helix Versioning Engine, and changes
      made via Helix clients will be reflected in Helix GitSwarm.

      .split.clearfix
        .left
          .control-group.form-inline
            Helix Git Fusion Server:
            = select_tag(:git_fusion_entry, servers, class: 'select2 span2')
            .hidden#original-git-fusion-settings{'data-fusion-server' => params['git_fusion_entry'], 'data-repo-create-type' => params['git_fusion_repo_create_type'], 'data-repo' => params['git_fusion_repo_name'], 'data-default-branch' => params['git_fusion_default_branch'], 'data-branch-mappings' => params['git_fusion_branch_mappings'].to_json }
        .right
          To point Helix GitSwarm at a different Helix Git Fusion instance, have an admin
          = link_to 'see these directions.', help_page_path('workflow', 'helix_mirroring', 'configuration'), target: '_blank'
      .git-fusion-import-data
    :javascript
      var import_config = new GitFusionProject();
